<main>
  <section class="hero-section index-hero-section">
    <picture class="hero-image">
      <%= image_tag("costa-rica-photography-hero-image.jpg", :alt =>
        "costa rican sunset", :class => "hero-img") %>
    </picture>
    <div class="hero-container">
      <div class="hero-title-container">
        <h1>JACO REFINED</h1>
        <p>A Stylish Collection of Luxury Homes in the Coastal Paradise of Jaco, CR</p>
      </div>
      <div class="hero-form-container">
        <!-- <div class="form-select-container">
          <div class="hero-label-container">
            <p>Arrival</p>
          </div>
          <div class="hero-label-container">
            <p>Departure</p>
          </div>
          <div class="hero-label-container">
            <p>Occupancy</p>
          </div>
        </div> -->
        <%= link_to "find a home", accommodation_path, class: "hero-form-button" %>
      </div>
    </div>
  </section>

  <section class="main-section">

      <article>
        <h2 class="article-title">OUR PLEASURE</h2>
        <div class="article-content-container">
          <div class="article-info-container">
            <p>With a collection ranging from opulent mansions to rich hearted villas,
            (Brand name) offers worry free accomadations in paradise. Whether
            you prefer a tropical adventure through land and sea or an indulgent
            and relaxing stay in pure nirvanna, your entire experiance will be hand
            crafted by the most talented purvayours of splendor on the continent.</p>
            <ul class="article-list">
              <li>Artfully Curated</li>
              <li>Luxury Homes</li>
              <li>Relaxing Spaces</li>
              <li><button class="article-list-button" type="button" name="button">View Gallery</button></li>
            </ul>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>

      </article>

      <article>
        <h2 class="article-title">ACCOMMODATIONS</h2>
        <div class="article-content-container reverse-article">
          <div class="article-info-container">
            <h3>Our Homes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              metus felis, dapibus commodo tortor a, pulvinar sodales est.
              Maecenas quis molestie libero. Donec vehicula nibh ante, at aliquet
              leo sodales ac. Curabitur sed tincidunt justo. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Nunc at sem a quam dictum
              tincidunt ut vel lacus. Nunc quis massa eget metus cursus malesuada.
              Duis lobortis ante ac elementum sagittis. Nam at ante sed velit elementum
              imperdiet euismod a dui. Nullam congue turpis eu velit congue euismod.
            </p>
              <div class="space-divider"></div>
            <h3>Offered Accommodations</h3>
            <p>Nunc diam lacus, semper vitae maximus et, luctus ac felis. Pellentesque
              ligula massa, hendrerit in augue eget.
            </p>
            <%= link_to "Click Here", accommodation_path, class: "article-link" %>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>
      </article>


      <article>
        <h2 class="article-title">YOUR ADVENTURE</h2>
        <div class="article-content-container">
          <div class="article-info-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            n voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <ul class="article-list guest-rooms-list">
              <li>Bananas</li>
              <li>Mangos</li>
              <li>Chocolates</li>
              <li>Heavy Petting</li>
            </ul>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>
      </article>

      <article class="get-on-the-list-article">
        <div class="get-on-the-list-top-container">
          <div class="top-left-outline-get-on-the-list"></div>
          <h2 class="list-article-title">GET ON THE LIST</h2>
          <div class="top-right-outline-get-on-the-list"></div>
        </div>
        <div class="get-on-the-list-content-container">
          <div class="get-on-the-list-image-container">
            <picture class="get-on-the-list-picture">
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "get-on-the-list-main-img") %>
            </picture>
          </div>
          <div class="get-on-the-list-info-container">
            <div class="get-on-the-list-text-container">
              <p>Curious to know more? Sign-up and we’ll keep you posted on property
                updates and promotions.
              </p>
              <!-- insert minor form here -->
            </div>
          </div>
        </div>
      </article>
      <article class="location-article">
        <h2 class="article-title">OUR Location</h2>
        <div class="article-content-container reverse-article">
          <div class="article-info-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
            </p>
            <ul class="article-list guest-rooms-list">
              <li><a class="map-link" href="#">Jaco Costa Rica</a></li>
            </ul>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>
      </article>
  </section>
</main>
