<main>
  <section class="hero-section index-hero-section">
    <picture class="hero-image">
      <%= image_tag("costa-rica-photography-hero-image.jpg", :alt =>
        "costa rican sunset", :class => "hero-img") %>
    </picture>
    <div class="hero-container">
      <div class="hero-title-container">
        <h1>JACO REFINED</h1>
        <p>A Stylish Collection of Luxury Homes in the Rolling Hills of Jaco, CR</p>
      </div>
      <div class="hero-form-container">
        <div class="form-select-container">
          <div class="hero-label-container">
            <p>Arrival</p>
          </div>
          <div class="hero-label-container">
            <p>Departure</p>
          </div>
          <div class="hero-label-container">
            <p>Occupancy</p>
          </div>
        </div>
        <a href="/accommodation" class="hero-form-button">BOOK A ROOM</a>
      </div>
    </div>
  </section>

  <section class="main-section">

      <article>
        <h2>OUR STORY</h2>
        <div class="article-content-container">
          <div class="article-info-container">
            <p>With a fresh renovation and a sixty-year old story, Amigo Motor Lodge is
              a perfectly nostalgic yet undeniably modern accommodation. Whether you
              select an original room or one of our additional Airstream trailers, the
              entire experience has been thoughtfully considered and nods to the history
              of the property and the area itself.</p>
            <ul class="article-list">
              <li>Artfully Curated</li>
              <li>Retro Airstreams</li>
              <li>Common Spaces</li>
              <li><button class="article-list-button" type="button" name="button">View Gallery</button></li>
            </ul>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>

      </article>

      <article>
        <h2>GUEST ROOMS</h2>
        <div class="article-content-container">
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
          <div class="article-info-container">
            <p>With a bit of Southwestern flair and original charm, each of our
              carefully designed rooms and Airstream trailers invite you to feel at home.
              From the soft furnishings to the art and bath products there’s a sense of
              everyday luxe that inspires you to connect with the people and scenery
              around you.</p>
            <ul class="article-list guest-rooms-list">
              <li>tv</li>
              <li>tuft & needle matresses</li>
              <li>malin + goetz bath products</li>
              <li>parking</li>
            </ul>
          </div>
        </div>
      </article>

      <article>
        <h2>OUR SPACES</h2>
        <div class="article-content-container">
          <div class="article-info-container">
            <h3>About Us</h3>
            <p>As our property was built in the 50's and 60s with smaller rooms situated
              next to the highway, occasional ambient noise can be heard. Our windows
              are old, and sometimes the floor might squeak. We operate in a similar
              manner to a good vacation rental, meaning that while there are generally
              staff around we aren't a full service property. Our lobby is attended and
              we're currently open to the public from 7:30AM-10PM most days. During off
              season we close at 8pm M-W. Our hot tub area closes 15 minutes prior to
              the office. We are now offering coffee and tea service with a limited grab
              and go style breakfast to help kick off your day in beautiful Salida.</p>
              <div class="space-divider"></div>
            <h3>Conde Naste Traveller Article</h3>
            <p>Interested but want to learn more about our space here at the Motor
              Lodge, check out this article.</p>
            <a href="#">Click Here</a>
          </div>
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
        </div>
      </article>

      <article class="get-on-the-list-article">
        <div class="get-on-the-list-top-container">
          <div class="top-left-outline-get-on-the-list"></div>
          <h2>GET ON THE LIST</h2>
          <div class="top-right-outline-get-on-the-list"></div>
        </div>
        <div class="get-on-the-list-content-container">
          <div class="get-on-the-list-image-container">
            <picture class="get-on-the-list-picture">
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "get-on-the-list-main-img") %>
            </picture>
          </div>
          <div class="get-on-the-list-info-container">
            <div class="get-on-the-list-text-container">
              <p>Curious to know more? Sign-up and we’ll keep you posted on property
                updates and promotions.
              </p>
              <!-- insert minor form here -->
            </div>
          </div>
        </div>
      </article>
      <article >
        <h2>OUR NEIGHBORS</h2>
        <div class="article-content-container">
          <div class="article-image-container">
            <picture>
              <%= image_tag("blue-ocean.jpg", :alt =>
                "white sand beach", :class => "article-main-img") %>
            </picture>
          </div>
          <div class="article-info-container">
            <p>From the ample mountain peaks (14ers if you’re in the know) to natural
              hot springs to local distilleries, Salida is yours to explore with
              activities that suit whatever mood you’re in.
            </p>
            <ul class="article-list guest-rooms-list">
              <li><a class="map-link" href="#">Jaco Costa Rica</a></li>
            </ul>
          </div>
        </div>
      </article>
  </section>
</main>
