<footer>
  <div class="footer-head">
    <h1>Find Your Home</h1>
  </div>
  <div class="footer-image-conatainer">
    <picture class="footer-picture">
      <%= image_tag("blue-ocean.jpg", :alt =>
        "white sand beach", :class => "footer-img") %>
    </picture>
    <picture class="footer-picture">
      <%= image_tag("blue-ocean.jpg", :alt =>
        "white sand beach", :class => "footer-img") %>
    </picture>
    <picture class="footer-picture">
      <%= image_tag("blue-ocean.jpg", :alt =>
        "white sand beach", :class => "footer-img") %>
    </picture>
    <picture class="footer-picture">
      <%= image_tag("blue-ocean.jpg", :alt =>
        "white sand beach", :class => "footer-img") %>
    </picture>
  </div>
  <div class="footer-directory">
    <%= link_to "Homepage", homepage_path %>
    <%= link_to "Accomadations", accommodation_path %>
    <%= link_to "Gallery", accommodation_path %>
    <%= link_to "About Us", accommodation_path %>
    <%= link_to "Experiences", accommodation_path %>
  </div>
  <div class="footer-end">
    <p>Congratulations on reaching the bottom of the page :)</p>
  </div>
</footer>
