<header>
  <!-- placeholder logo -->
  <div class="placeholder-logo"></div>
  <nav>
    <ul class="nav-list">
      <li><%= link_to "Homepage", homepage_path, class: "nav-link" %></li>
      <li><%= link_to "Accomadations", accommodation_path, class: "nav-link" %></li>
      <li><%= link_to "Gallery", accommodation_path, class: "nav-link" %></li>
      <li><%= link_to "About Us", accommodation_path, class: "nav-link" %></li>
      <li><%= link_to "Experiences", accommodation_path, class: "nav-link" %></li>
    </ul>
  </nav>
  <a href="#" class="header-contact-us-btn">contact us</a>
</header>
